* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: block;
  background-color: white;
  width: 100%;
  border-top: 50px solid #ced4da;
  position: relative;
}

.head-img {
  width: 600px;
  background-color: #ced4da;
  height: 50px;
  margin-top: 50px;
  margin-left: 490px;
}

.img1 {
  width: 750px;
  height: 750px;
  background-color: #ced4da;
  margin-top: 50px;
  float: left;
}

.img2 {
  width: 750px;
  height: 750px;
  background-color: #ced4da;
  margin-top: 50px;
  float: right;
}

.art1 {
  width: 650px;
  background-color: #ced4da;
  height: 50px;
  margin-top: 850px;
  margin-left: 470px;
}

.boxes1 {
  display: inline;
  margin-left: 20px;
}

.box1 {
  width: 350px;
  height: 350px;
  margin-top: 100px;
  left: 60px;
  position: absolute;
  background-color: #ced4da;
}

.box2 {
  width: 350px;
  height: 350px;
  margin-top: 100px;
  left: 430px;
  position: absolute;
  background-color: #ced4da;
}

.box3 {
  width: 350px;
  height: 350px;
  margin-top: 100px;
  left: 800px;
  position: absolute;
  background-color: #ced4da;
}

.box4 {
  width: 350px;
  height: 350px;
  margin-top: 100px;
  left: 1170px;
  position: absolute;
  background-color: #ced4da;
}

.boxes2 {
  display: inline;
  margin-left: 20px;
}

.box5 {
  width: 350px;
  height: 350px;
  margin-top: 470px;
  left: 60px;
  position: absolute;
  background-color: #ced4da;
}

.box6 {
  width: 350px;
  height: 350px;
  margin-top: 470px;
  left: 430px;
  position: absolute;
  background-color: #ced4da;
}

.box7 {
  width: 350px;
  height: 350px;
  margin-top: 470px;
  left: 800px;
  position: absolute;
  background-color: #ced4da;
}

.box8 {
  width: 350px;
  height: 350px;
  margin-top: 470px;
  left: 1170px;
  position: absolute;
  background-color: #ced4da;
}

.mid-header {
  width: 850px;
  background-color: #ced4da;
  height: 50px;
  margin-top: 830px;
  margin-left: 365px;
}

.mid {
  position: absolute;
  width: 100%;
  height: 700px;
  background-color: #ced4da;
  margin-top: 60px;
}

.border1 {
  border: 10px solid white;
  background-color: white;
  height: 600px;
  margin-top: 55px;
  left: 50px;
  width: 480px;
  position: absolute;
}

.border2 {
  border: 10px solid white;
  background-color: white;
  height: 600px;
  margin-top: 55px;
  left: 553px;
  width: 480px;
  position: absolute;
}

.border3 {
  border: 10px solid white;
  background-color: white;
  margin-top: 55px;
  left: 1055px;
  width: 480px;
  height: 600px;
  position: absolute;
}

.b-box1 {
  position: absolute;
  background-color: #ced4da;
  width: 450px;
  height: 40px;
  top: 10px;
  left: 5px;
}

.b-box2 {
  position: absolute;
  background-color: #ced4da;
  width: 450px;
  height: 280px;
  top: 70px;
  left: 5px;
}

.b-box3 {
  position: absolute;
  background-color: #ced4da;
  width: 450px;
  height: 200px;
  top: 370px;
  left: 5px;
}

.last-header {
  width: 400px;
  background-color: #ced4da;
  height: 50px;
  top: 2680px;
  left: 600px;
  position: absolute;
}

.last-header1 {
  width: 600px;
  background-color: #ced4da;
  height: 50px;
  top: 2770px;
  left: 495px;
  position: absolute;
}
.last-header2 {
  width: 600px;
  background-color: #ced4da;
  height: 50px;
  top: 2830px;
  left: 495px;
  position: absolute;
}

.last-header3 {
  width: 600px;
  background-color: #ced4da;
  height: 50px;
  top: 2890px;
  left: 495px;
  position: absolute;
}
.last-header4 {
  width: 600px;
  background-color: #ced4da;
  height: 200px;
  top: 2950px;
  left: 495px;
  position: absolute;
}

.last-header5 {
  position: absolute;
  background-color: #ced4da;
  width: 295px;
  height: 50px;
  top: 3170px;
  left: 495px;
}

.last-header6 {
  position: absolute;
  background-color: #ced4da;
  width: 295px;
  height: 50px;
  top: 3170px;
  left: 805px;
}

.end {
  top: 1400px;
  background-color: #ced4da;
  height: 120px;
  width: 100%;
  position: relative;
}

.e1 {
  position: absolute;
  background-color: white;
  width: 49%;
  height: 100px;
  top: 10px;
  left: 10px;
}

.e2 {
  position: absolute;
  background-color: white;
  width: 49%;
  height: 100px;
  top: 10px;
  right: 10px;
}
